.App {
  text-align: center;
}

.Navbar{
  background-color: black;
  height: 45px;
  font-size: 25px;
}
.Navbar a{
  color: white;
  text-decoration: none;
}
.Navbar a:hover{
  color: crimson;
}
body {
  background: #dedede;
}
.page-wrap {
  min-height: 100vh;
}